body {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
}

#results {
    font-size: 25px;
}

.test-name {
    padding-right: 15px;
}

.red {
    color: red;
}

.green { 
    color: green;
}

.ninja-link {
    color: unset;
    text-decoration: unset;
}